/*动画专用css*/
.hpAnimate
{
	animation: hpAnimate 1.2s ease-in-out infinite;
	-webkit-animation: hpAnimate 1.2s ease-in-out infinite;	
}

@keyframes hpAnimate
{
0%{transform:rotate(0deg);transform-origin:50% 50%;}
40%{transform:rotate(90deg);transform-origin:50% 50%;}
50%{transform:rotate(90deg);transform-origin:50% 50%;}
90%{transform:rotate(0deg);transform-origin:50% 50%;}
100%{transform:rotate(0deg);transform-origin:50% 50%;}
}

@-webkit-keyframes hpAnimate
{
0%{-webkit-transform:rotate(0deg);-webkit-transform-origin:50% 50%;}
40%{-webkit-transform:rotate(90deg);-webkit-transform-origin:50% 50%;}
50%{-webkit-transform:rotate(90deg);-webkit-transform-origin:50% 50%;}
90%{-webkit-transform:rotate(0deg);-webkit-transform-origin:50% 50%;}
100%{-webkit-transform:rotate(0deg);-webkit-transform-origin:50% 50%;}
}

.load_text_a
{
	animation: load_text_a 1s ease-in-out infinite;
	-webkit-animation: load_text_a 1s ease-in-out infinite;	
}

@keyframes load_text_a
{
0%{width: 1.56rem;}
99%{width: 1.84rem;}
100%{width: 1.56rem;}
}

@-webkit-keyframes load_text_a
{
0%{width: 1.56rem;}
99%{width: 1.84rem;}
100%{width: 1.56rem;}
}

.load_card1_a
{
	animation: load_card1_a 1s ease-in-out infinite;
	-webkit-animation: load_card1_a 1s ease-in-out infinite;	
}

@keyframes load_card1_a
{
0%{transform:rotate(-5deg);transform-origin:50% 100%;}
50%{transform:rotate(5deg);transform-origin:50% 100%;}
100%{transform:rotate(-5deg);transform-origin:50% 100%;}
}

@-webkit-keyframes load_card1_a
{
0%{-webkit-transform:rotate(-5deg);-webkit-transform-origin:50% 100%;}
50%{-webkit-transform:rotate(5deg);-webkit-transform-origin:50% 100%;}
100%{-webkit-transform:rotate(-5deg);-webkit-transform-origin:50% 100%;}
}

.load_card2_a
{
	animation: load_card2_a 1s ease-in-out infinite;
	-webkit-animation: load_card2_a 1s ease-in-out infinite;	
}

@keyframes load_card2_a
{
0%{transform:rotate(5deg);transform-origin:50% 100%;}
50%{transform:rotate(-5deg);transform-origin:50% 100%;}
100%{transform:rotate(5deg);transform-origin:50% 100%;}
}

@-webkit-keyframes load_card2_a
{
0%{-webkit-transform:rotate(5deg);-webkit-transform-origin:50% 100%;}
50%{-webkit-transform:rotate(-5deg);-webkit-transform-origin:50% 100%;}
100%{-webkit-transform:rotate(5deg);-webkit-transform-origin:50% 100%;}
}

.card_left
{
	animation: card_left 0.8s linear 1;
	-webkit-animation: card_left 0.8s linear 1;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;		
}

@keyframes card_left
{
0%{transform:translate3d(-0rem,0rem,0) rotate(0deg);opacity: 1;}
20%{transform:translate3d(-1.5rem,0.5rem,0) rotate(20deg);opacity: 1;}
99%{transform:translate3d(-7.5rem,3.5rem,0) rotate(150deg);opacity: 1;}
100%{transform:translate3d(-7.5rem,3.5rem,0) rotate(150deg);opacity: 0;}
}

@-webkit-keyframes card_left
{
0%{-webkit-transform:translate3d(-0rem,0rem,0) rotate(0deg);opacity: 1;}
20%{-webkit-transform:translate3d(-1.5rem,0.5rem,0) rotate(20deg);opacity: 1;}
99%{-webkit-transform:translate3d(-7.5rem,3.5rem,0) rotate(150deg);opacity: 1;}
100%{-webkit-transform:translate3d(-7.5rem,3.5rem,0) rotate(150deg);opacity: 0;}
}

.card_right
{
	animation: card_right 0.8s linear 1;
	-webkit-animation: card_right 0.8s linear 1;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;		
}

@keyframes card_right
{
0%{transform:translate3d(-0rem,0rem,0) rotate(0deg);opacity: 1;}
20%{transform:translate3d(1.5rem,0.5rem,0) rotate(-20deg);opacity: 1;}
99%{transform:translate3d(7.5rem,3.5rem,0) rotate(-150deg);opacity: 1;}
100%{transform:translate3d(7.5rem,3.5rem,0) rotate(-150deg);opacity: 0;}
}

@-webkit-keyframes card_right
{
0%{-webkit-transform:translate3d(-0rem,0rem,0) rotate(0deg);opacity: 1;}
20%{-webkit-transform:translate3d(1.5rem,0.5rem,0) rotate(-20deg);opacity: 1;}
99%{-webkit-transform:translate3d(7.5rem,3.5rem,0) rotate(-150deg);opacity: 1;}
100%{-webkit-transform:translate3d(7.5rem,3.5rem,0) rotate(-150deg);opacity: 0;}
}

.save_text_a
{
	animation: save_text_a 0.8s ease-in-out infinite;
	-webkit-animation: save_text_a 0.8s ease-in-out infinite;	
}

@keyframes save_text_a
{
0%{width: 3.05rem;}
99%{width: 4.5rem;}
100%{width: 3.05rem;}
}

@-webkit-keyframes save_text_a
{
0%{width: 3.05rem;}
99%{width: 4.5rem;}
100%{width: 3.05rem;}
}