.star_scale
{
	animation: star_scale 1.5s ease-out infinite;
	-webkit-animation: star_scale 1.5s ease-out infinite;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;	
}

@keyframes star_scale
{
0% {transform: scale(1,1);}
7% {transform: scale(1.2,1.2);}
14% {transform: scale(1,1);}
21% {transform: scale(1.2,1.2);}
28% {transform: scale(1,1);}
100% {transform: scale(1,1);}
}

@-webkit-keyframes star_scale
{
0% {-webkit-transform: scale(1,1);}
7% {-webkit-transform: scale(1.2,1.2);}
14% {-webkit-transform: scale(1,1);}
21% {-webkit-transform: scale(1.2,1.2);}
28% {-webkit-transform: scale(1,1);}
100% {-webkit-transform: scale(1,1);}
}

/* 1.2.风中摇摆 */
.wind_rotate
{
	animation: wind_rotate 3s ease-in-out 1;
	-webkit-animation: wind_rotate 3s ease-in-out 1;	
}

@keyframes wind_rotate
{
0%{transform:rotate(0deg);transform-origin:50% 0%;}
10%{transform:rotate(40deg);transform-origin:50% 0%;}
30%{transform:rotate(-35deg);transform-origin:50% 0%;}
45%{transform:rotate(25deg);transform-origin:50% 0%;}
60%{transform:rotate(-10deg);transform-origin:50% 0%;}
65%{transform:rotate(0deg);transform-origin:50% 0%;}
100%{transform:rotate(0deg);transform-origin:50% 0%;}
}

@-webkit-keyframes wind_rotate
{
0%{-webkit-transform:rotate(0deg);transform-origin:50% 0%;}
10%{-webkit-transform:rotate(40deg);transform-origin:50% 0%;}
30%{-webkit-transform:rotate(-35deg);transform-origin:50% 0%;}
45%{-webkit-transform:rotate(25deg);transform-origin:50% 0%;}
60%{-webkit-transform:rotate(-10deg);transform-origin:50% 0%;}
65%{-webkit-transform:rotate(0deg);transform-origin:50% 0%;}
100%{-webkit-transform:rotate(0deg);transform-origin:50% 0%;}
}

/* 1.3.指向箭头 */
.arrow_a
{
	animation: arrow_a 2.5s linear infinite;
	-webkit-animation: arrow_a 2.5s linear infinite;	
}

@keyframes arrow_a
{
0%{transform:translate3d(0,0rem,0);opacity: 0;}
16%{transform:translate3d(0,0.06rem,0);opacity: 1;}
64%{transform:translate3d(0,0.24rem,0);opacity: 1;}
80%{transform:translate3d(0,0.3rem,0);opacity: 0;}
100%{transform:translate3d(0,0.3rem,0);opacity: 0;}
}

@-webkit-keyframes arrow_a
{
0%{-webkit-transform:translate3d(0,0rem,0);opacity: 0;}
16%{-webkit-transform:translate3d(0,0.06rem,0);opacity: 1;}
64%{-webkit-transform:translate3d(0,0.24rem,0);opacity: 1;}
80%{-webkit-transform:translate3d(0,0.3rem,0);opacity: 0;}
100%{-webkit-transform:translate3d(0,0.3rem,0);opacity: 0;}
}

.arrow_ad
{
	animation: arrow_ad 2.5s linear infinite;
	-webkit-animation: arrow_ad 2.5s linear infinite;	
}

@keyframes arrow_ad
{
0%{transform:translate3d(0,0rem,0);opacity: 0;}
16%{transform:translate3d(0,-0.06rem,0);opacity: 1;}
64%{transform:translate3d(0,-0.24rem,0);opacity: 1;}
80%{transform:translate3d(0,-0.3rem,0);opacity: 0;}
100%{transform:translate3d(0,-0.3rem,0);opacity: 0;}
}

@-webkit-keyframes arrow_ad
{
0%{-webkit-transform:translate3d(0,0rem,0);opacity: 0;}
16%{-webkit-transform:translate3d(0,-0.06rem,0);opacity: 1;}
64%{-webkit-transform:translate3d(0,-0.24rem,0);opacity: 1;}
80%{-webkit-transform:translate3d(0,-0.3rem,0);opacity: 0;}
100%{-webkit-transform:translate3d(0,-0.3rem,0);opacity: 0;}
}

.arrow_as
{
	animation: arrow_as 1s ease-in-out infinite;
	-webkit-animation: arrow_as 1s ease-in-out infinite;	
}

@keyframes arrow_as
{
0%{transform:translate3d(0,0.1rem,0);}
50%{transform:translate3d(0,-0.1rem,0);}
100%{transform:translate3d(0,0.1rem,0);}
}

@-webkit-keyframes arrow_as
{
0%{-webkit-transform:translate3d(0,0.1rem,0);}
50%{-webkit-transform:translate3d(0,-0.1rem,0);}
100%{-webkit-transform:translate3d(0,0.1rem,0);}
}

.arrow_as_star
{
	animation: arrow_as_star 1.5s ease-in-out infinite;
	-webkit-animation: arrow_as_star 1.5s ease-in-out infinite;	
}

@keyframes arrow_as_star
{
0%{transform:translate3d(0,0rem,0);}
15%{transform:translate3d(0,0.2rem,0);}
30%{transform:translate3d(0,0rem,0);}
45%{transform:translate3d(0,0.2rem,0);}
60%{transform:translate3d(0,0rem,0);}
100%{transform:translate3d(0,0rem,0);}
}

@-webkit-keyframes arrow_as_star
{
0%{-webkit-transform:translate3d(0,0rem,0);}
15%{-webkit-transform:translate3d(0,0.2rem,0);}
30%{-webkit-transform:translate3d(0,0rem,0);}
45%{-webkit-transform:translate3d(0,0.2rem,0);}
60%{-webkit-transform:translate3d(0,0rem,0);}
100%{-webkit-transform:translate3d(0,0rem,0);}
}

.arrow_al
{
	animation: arrow_al 1s ease-in-out infinite;
	-webkit-animation: arrow_al 1s ease-in-out infinite;	
}

@keyframes arrow_al
{
0%{transform:translate3d(0.1rem,0,0);}
50%{transform:translate3d(-0.1rem,0,0);}
100%{transform:translate3d(0.1rem,0,0);}
}

@-webkit-keyframes arrow_al
{
0%{-webkit-transform:translate3d(0.1rem,0,0);}
50%{-webkit-transform:translate3d(-0.1rem,0,0);}
100%{-webkit-transform:translate3d(0.1rem,0,0);}
}

.arrow_ar
{
	animation: arrow_ar 1s ease-in-out infinite;
	-webkit-animation: arrow_ar 1s ease-in-out infinite;	
}

@keyframes arrow_ar
{
0%{transform:translate3d(-0.1rem,0,0);}
50%{transform:translate3d(0.1rem,0,0);}
100%{transform:translate3d(-0.1rem,0,0);}
}

@-webkit-keyframes arrow_ar
{
0%{-webkit-transform:translate3d(-0.1rem,0,0);}
50%{-webkit-transform:translate3d(0.1rem,0,0);}
100%{-webkit-transform:translate3d(-0.1rem,0,0);}
}


/* 1.4.正向旋转 */
.music_a
{
	animation: music_a 2.2s linear infinite;
	-webkit-animation: music_a 2.2s linear infinite;	
}

@keyframes music_a
{
0%{transform:rotate(0deg);}
100%{transform:rotate(360deg);}
}

@-webkit-keyframes music_a
{
0%{-webkit-transform:rotate(0deg);}
100%{-webkit-transform:rotate(360deg);}
}

/* 1.5.反向旋转 */
.music_ad
{
	animation: music_ad 2.2s linear infinite;
	-webkit-animation: music_ad 2.2s linear infinite;	
}

@keyframes music_ad
{
0%{transform:rotate(0deg);}
100%{transform:rotate(-360deg);}
}

@-webkit-keyframes music_ad
{
0%{-webkit-transform:rotate(0deg);}
100%{-webkit-transform:rotate(-360deg);}
}

/* 1.6.弹性放大 */
.scale_a
{
	animation: scale_a 0.7s linear 1;
	-webkit-animation: scale_a 0.7s linear 1;
}

@keyframes scale_a
{
0% {transform: scale(0,0);}
80% {transform: scale(1.2,1.2);}
100% {transform: scale(1,1);}
}

@-webkit-keyframes scale_a
{
0% {-webkit-transform: scale(0,0);}
80% {-webkit-transform: scale(1.2,1.2);}
100% {-webkit-transform: scale(1,1);}
}

/* 1.7.自由浮动 */
.float_free
{
	animation: float_free 3s linear infinite;
	-webkit-animation: float_free 3s linear infinite;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;		
}

@keyframes float_free
{
0% {transform:translate3d(0,0rem,0);}
50% {transform:translate3d(0,0.3rem,0);}
100% {transform:translate3d(0,0rem,0);}
}

@-webkit-keyframes float_free
{
0% {-webkit-transform:translate3d(0,0rem,0);}
50% {-webkit-transform:translate3d(0,0.3rem,0);}
100% {-webkit-transform:translate3d(0,0rem,0);}
}

.float_free1
{
	animation: float_free1 3s linear infinite;
	-webkit-animation: float_free1 3s linear infinite;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;		
}

@keyframes float_free1
{
0% {transform:translate3d(0,-0.2rem,0);}
50% {transform:translate3d(0,0.2rem,0);}
100% {transform:translate3d(0,-0.2rem,0);}
}

@-webkit-keyframes float_free1
{
0% {-webkit-transform:translate3d(0,-0.2rem,0);}
50% {-webkit-transform:translate3d(0,0.2rem,0);}
100% {-webkit-transform:translate3d(0,-0.2rem,0);}
}

.float_free2
{
	animation: float_free2 3s linear infinite;
	-webkit-animation: float_free2 3s linear infinite;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;		
}

@keyframes float_free2
{
0% {transform:translate3d(0,0.2rem,0);}
50% {transform:translate3d(0,-0.2rem,0);}
100% {transform:translate3d(0,0.2rem,0);}
}

@-webkit-keyframes float_free2
{
0% {-webkit-transform:translate3d(0,0.2rem,0);}
50% {-webkit-transform:translate3d(0,-0.2rem,0);}
100% {-webkit-transform:translate3d(0,0.2rem,0);}
}

.float_free3
{
	animation: float_free3 3s linear infinite;
	-webkit-animation: float_free3 3s linear infinite;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;		
}

@keyframes float_free3
{
0% {transform:translate3d(0,0.3rem,0);}
50% {transform:translate3d(0,0rem,0);}
100% {transform:translate3d(0,0.3rem,0);}
}

@-webkit-keyframes float_free3
{
0% {-webkit-transform:translate3d(0,0.3rem,0);}
50% {-webkit-transform:translate3d(0,0rem,0);}
100% {-webkit-transform:translate3d(0,0.3rem,0);}
}

.float_free4
{
	animation: float_free4 3s linear infinite;
	-webkit-animation: float_free4 3s linear infinite;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;		
}

@keyframes float_free4
{
0% {transform:translate3d(0,-0.3rem,0);}
50% {transform:translate3d(0,0rem,0);}
100% {transform:translate3d(0,-0.3rem,0);}
}

@-webkit-keyframes float_free4
{
0% {-webkit-transform:translate3d(0,-0.3rem,0);}
50% {-webkit-transform:translate3d(0,0rem,0);}
100% {-webkit-transform:translate3d(0,-0.3rem,0);}
}

/* 1.8.弹性扭曲QQ糖 */
.rubberBand
{
	animation: rubberBand 1s linear 1;
	-webkit-animation: rubberBand 1s linear 1;
	animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;	
}

@-webkit-keyframes rubberBand {
	0% {
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1)
	}

	30% {
		-webkit-transform: scale3d(1.25,.75,1);
		transform: scale3d(1.25,.75,1)
	}

	40% {
		-webkit-transform: scale3d(0.75,1.25,1);
		transform: scale3d(0.75,1.25,1)
	}

	50% {
		-webkit-transform: scale3d(1.15,.85,1);
		transform: scale3d(1.15,.85,1)
	}

	65% {
		-webkit-transform: scale3d(.95,1.05,1);
		transform: scale3d(.95,1.05,1)
	}

	75% {
		-webkit-transform: scale3d(1.05,.95,1);
		transform: scale3d(1.05,.95,1)
	}

	100% {
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1)
	}
}

@keyframes rubberBand {
	0% {
		-webkit-transform: scale3d(1,1,1);
		-ms-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1)
	}

	30% {
		-webkit-transform: scale3d(1.25,.75,1);
		-ms-transform: scale3d(1.25,.75,1);
		transform: scale3d(1.25,.75,1)
	}

	40% {
		-webkit-transform: scale3d(0.75,1.25,1);
		-ms-transform: scale3d(0.75,1.25,1);
		transform: scale3d(0.75,1.25,1)
	}

	50% {
		-webkit-transform: scale3d(1.15,.85,1);
		-ms-transform: scale3d(1.15,.85,1);
		transform: scale3d(1.15,.85,1)
	}

	65% {
		-webkit-transform: scale3d(.95,1.05,1);
		-ms-transform: scale3d(.95,1.05,1);
		transform: scale3d(.95,1.05,1)
	}

	75% {
		-webkit-transform: scale3d(1.05,.95,1);
		-ms-transform: scale3d(1.05,.95,1);
		transform: scale3d(1.05,.95,1)
	}

	100% {
		-webkit-transform: scale3d(1,1,1);
		-ms-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1)
	}
}

.rubberBand_jx
{
	animation: rubberBand_jx 2s linear infinite;
	-webkit-animation: rubberBand_jx 2s linear infinite;
	animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;	
}

@-webkit-keyframes rubberBand_jx {
	0% {
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1)
	}

	15% {
		-webkit-transform: scale3d(1.25,.75,1);
		transform: scale3d(1.25,.75,1)
	}

	20% {
		-webkit-transform: scale3d(0.75,1.25,1);
		transform: scale3d(0.75,1.25,1)
	}

	25% {
		-webkit-transform: scale3d(1.15,.85,1);
		transform: scale3d(1.15,.85,1)
	}

	33% {
		-webkit-transform: scale3d(.95,1.05,1);
		transform: scale3d(.95,1.05,1)
	}

	37% {
		-webkit-transform: scale3d(1.05,.95,1);
		transform: scale3d(1.05,.95,1)
	}

	50% {
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1)
	}

	100% {
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1)
	}
}

@keyframes rubberBand_jx {
	0% {
		-webkit-transform: scale3d(1,1,1);
		-ms-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1)
	}

	15% {
		-webkit-transform: scale3d(1.25,.75,1);
		-ms-transform: scale3d(1.25,.75,1);
		transform: scale3d(1.25,.75,1)
	}

	20% {
		-webkit-transform: scale3d(0.75,1.25,1);
		-ms-transform: scale3d(0.75,1.25,1);
		transform: scale3d(0.75,1.25,1)
	}

	25% {
		-webkit-transform: scale3d(1.15,.85,1);
		-ms-transform: scale3d(1.15,.85,1);
		transform: scale3d(1.15,.85,1)
	}

	33% {
		-webkit-transform: scale3d(.95,1.05,1);
		-ms-transform: scale3d(.95,1.05,1);
		transform: scale3d(.95,1.05,1)
	}

	37% {
		-webkit-transform: scale3d(1.05,.95,1);
		-ms-transform: scale3d(1.05,.95,1);
		transform: scale3d(1.05,.95,1)
	}

	50% {
		-webkit-transform: scale3d(1,1,1);
		-ms-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1)
	}

	100% {
		-webkit-transform: scale3d(1,1,1);
		-ms-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1)
	}
}

/* 1.9.显隐型闪烁 */
.sh_star
{
	animation: sh_star 0.6s linear 1;
	-webkit-animation: sh_star 0.6s linear 1;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;	
}

@keyframes sh_star
{
0% {opacity: 0;}
1% {opacity: 1;}
20% {opacity: 1;}
21% {opacity: 0;}
41% {opacity: 0;}
42% {opacity: 1;}
62% {opacity: 1;}
63% {opacity: 0;}
83% {opacity: 0;}
84% {opacity: 1;}
100% {opacity: 1;}
}

@-webkit-keyframes sh_star
{
0% {opacity: 0;}
1% {opacity: 1;}
20% {opacity: 1;}
21% {opacity: 0;}
41% {opacity: 0;}
42% {opacity: 1;}
62% {opacity: 1;}
63% {opacity: 0;}
83% {opacity: 0;}
84% {opacity: 1;}
100% {opacity: 1;}
}

/* 1.10.跳跃 */
.jump_p1
{
	animation: jump_p1 0.5s linear 1;
	-webkit-animation: jump_p1 0.5s linear 1;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;	
}

@keyframes jump_p1
{
0% {transform:translate3d(0,0.1rem,0);opacity: 0;}
50% {transform:translate3d(0,-0.3rem,0);opacity: 1;}
100% {transform:translate3d(0,0rem,0);opacity: 1;}
}

@-webkit-keyframes jump_p1
{
0% {-webkit-transform:translate3d(0,0.1rem,0);opacity: 0;}
50% {-webkit-transform:translate3d(0,-0.3rem,0);opacity: 1;}
100% {-webkit-transform:translate3d(0,0rem,0);opacity: 1;}
}

/* 1.11.疯狂抖动 */
.superyy
{
	animation: superyy 1.5s ease-out infinite;
	-webkit-animation: superyy 1.5s ease-out infinite;
}

@keyframes superyy
{
0% {transform:translate3d(0rem,0,0);}
3% {transform:translate3d(-0.05rem,0,0);}
6% {transform:translate3d(0.05rem,0,0);}
9% {transform:translate3d(-0.05rem,0,0);}
12% {transform:translate3d(0.05rem,0,0);}
15% {transform:translate3d(-0.05rem,0,0);}
18% {transform:translate3d(0.05rem,0,0);}
21% {transform:translate3d(-0.05rem,0,0);}
24% {transform:translate3d(0.05rem,0,0);}
27% {transform:translate3d(-0.05rem,0,0);}
30% {transform:translate3d(0.05rem,0,0);}
33% {transform:translate3d(0rem,0,0);}
100% {transform:translate3d(0rem,0,0);}
}

@-webkit-keyframes superyy
{
0% {-webkit-transform:translate3d(0rem,0,0);}
3% {-webkit-transform:translate3d(-0.05rem,0,0);}
6% {-webkit-transform:translate3d(0.05rem,0,0);}
9% {-webkit-transform:translate3d(-0.05rem,0,0);}
12% {-webkit-transform:translate3d(0.05rem,0,0);}
15% {-webkit-transform:translate3d(-0.05rem,0,0);}
18% {-webkit-transform:translate3d(0.05rem,0,0);}
21% {-webkit-transform:translate3d(-0.05rem,0,0);}
24% {-webkit-transform:translate3d(0.05rem,0,0);}
27% {-webkit-transform:translate3d(-0.05rem,0,0);}
30% {-webkit-transform:translate3d(0.05rem,0,0);}
33% {-webkit-transform:translate3d(0rem,0,0);}
100% {-webkit-transform:translate3d(0rem,0,0);}
}

/* 1.12.显隐变换 */
.opacity_a
{
	animation: opacity_a 2.5s linear infinite;
	-webkit-animation: opacity_a 2.5s linear infinite;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;		
}

@keyframes opacity_a
{
0% {opacity: 1;}
50% {opacity: 0;}
100% {opacity: 1;}
}

@-webkit-keyframes opacity_a
{
0% {opacity: 1;}
50% {opacity: 0;}
100% {opacity: 1;}
}

/* 1.13.雪碧图代码演示 */
.xuebi_a
{
	animation: xuebi_a 1s linear infinite;
	-webkit-animation: xuebi_a 1s linear infinite;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;		
}

@keyframes xuebi_a
{
0% {background-position: 0rem 0rem;}
19% {background-position: 0rem 0rem;}
20% {background-position: 1.07rem 0rem;}
39% {background-position: 1.07rem 0rem;}
40% {background-position: 2.14rem 0rem;}
59% {background-position: 2.14rem 0rem;}
60% {background-position: 3.21rem 0rem;}
79% {background-position: 3.21rem 0rem;}
80% {background-position: 4.28rem 0rem;}
100% {background-position: 4.28rem 0rem;}
}

@-webkit-keyframes xuebi_a
{
0% {background-position: 0rem 0rem;}
19% {background-position: 0rem 0rem;}
20% {background-position: 1.07rem 0rem;}
39% {background-position: 1.07rem 0rem;}
40% {background-position: 2.14rem 0rem;}
59% {background-position: 2.14rem 0rem;}
60% {background-position: 3.21rem 0rem;}
79% {background-position: 3.21rem 0rem;}
80% {background-position: 4.28rem 0rem;}
100% {background-position: 4.28rem 0rem;}
}

/*--------------------------------- 2.PAGE CHANGE ---------------------------------*/
.move_to_left_page
{
	animation: move_to_left_page 0.65s ease-in-out 1;
	-webkit-animation: move_to_left_page 0.65s ease-in-out 1;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;	
}

@keyframes move_to_left_page
{
0% {transform:translate3d(0rem,0,0);}
100% {transform:translate3d(-6.4rem,0,0);}
}

@-webkit-keyframes move_to_left_page
{
0% {-webkit-transform:translate3d(0rem,0,0);}
100% {-webkit-transform:translate3d(-6.4rem,0,0);}
}

.move_from_left_page
{
	animation: move_from_left_page 0.65s ease-in-out 1;
	-webkit-animation: move_from_left_page 0.65s ease-in-out 1;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;	
}

@keyframes move_from_left_page
{
0% {transform:translate3d(-6.4rem,0,0);}
100% {transform:translate3d(0rem,0,0);}
}

@-webkit-keyframes move_from_left_page
{
0% {-webkit-transform:translate3d(-6.4rem,0,0);}
100% {-webkit-transform:translate3d(0rem,0,0);}
}

.move_to_right_page
{
	animation: move_to_right_page 0.65s ease-in-out 1;
	-webkit-animation: move_to_right_page 0.65s ease-in-out 1;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;	
}

@keyframes move_to_right_page
{
0% {transform:translate3d(0rem,0,0);}
100% {transform:translate3d(6.4rem,0,0);}
}

@-webkit-keyframes move_to_right_page
{
0% {-webkit-transform:translate3d(0rem,0,0);}
100% {-webkit-transform:translate3d(6.4rem,0,0);}
}

.move_from_right_page
{
	animation: move_from_right_page 0.65s ease-in-out 1;
	-webkit-animation: move_from_right_page 0.65s ease-in-out 1;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;	
}

@keyframes move_from_right_page
{
0% {transform:translate3d(6.4rem,0,0);}
100% {transform:translate3d(0rem,0,0);}
}

@-webkit-keyframes move_from_right_page
{
0% {-webkit-transform:translate3d(6.4rem,0,0);}
100% {-webkit-transform:translate3d(0rem,0,0);}
}

.move_to_up_page
{
	animation: move_to_up_page 0.65s ease-in-out 1;
	-webkit-animation: move_to_up_page 0.65s ease-in-out 1;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;	
}

@keyframes move_to_up_page
{
0% {transform:translate3d(0,0rem,0);}
100% {transform:translate3d(0,-10.66rem,0);}
}

@-webkit-keyframes move_to_up_page
{
0% {-webkit-transform:translate3d(0,0rem,0);}
100% {-webkit-transform:translate3d(0,-10.66rem,0);}
}

.move_from_up_page
{
	animation: move_from_up_page 0.65s ease-in-out 1;
	-webkit-animation: move_from_up_page 0.65s ease-in-out 1;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;		
}

@keyframes move_from_up_page
{
0% {transform:translate3d(0,-10.66rem,0);}
100% {transform:translate3d(0,0rem,0);}
}

@-webkit-keyframes move_from_up_page
{
0% {-webkit-transform:translate3d(0,-10.66rem,0);}
100% {-webkit-transform:translate3d(0,0rem,0);}
}

.move_to_down_page
{
	animation: move_to_down_page 0.65s ease-in-out 1;
	-webkit-animation: move_to_down_page 0.65s ease-in-out 1;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;	
}

@keyframes move_to_down_page
{
0% {transform:translate3d(0,0rem,0);}
100% {transform:translate3d(0,10.66rem,0);}
}

@-webkit-keyframes move_to_down_page
{
0% {-webkit-transform:translate3d(0,0rem,0);}
100% {-webkit-transform:translate3d(0,10.66rem,0);}
}

.move_from_down_page
{
	animation: move_from_down_page 0.65s ease-in-out 1;
	-webkit-animation: move_from_down_page 0.65s ease-in-out 1;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;	
}

@keyframes move_from_down_page
{
0% {transform:translate3d(0,10.66rem,0);}
100% {transform:translate3d(0,0rem,0);}
}

@-webkit-keyframes move_from_down_page
{
0% {-webkit-transform:translate3d(0,10.66rem,0);}
100% {-webkit-transform:translate3d(0,0rem,0);}
}

/*--------------------------------- 3.SHORT MOVE FROM ---------------------------------*/

.move_from_up_short
{
	animation: move_from_up_short 0.75s ease-out 1;
	-webkit-animation: move_from_up_short 0.75s ease-out 1;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;		
}

@keyframes move_from_up_short
{
0% {transform:translate3d(0,-0.5rem,0);opacity: 0;}
100% {transform:translate3d(0,0rem,0);opacity: 1;}
}

@-webkit-keyframes move_from_up_short
{
0% {-webkit-transform:translate3d(0,-0.5rem,0);opacity: 0;}
100% {-webkit-transform:translate3d(0,0rem,0);opacity: 1;}
}

.move_from_down_short
{
	animation: move_from_down_short 0.75s ease-out 1;
	-webkit-animation: move_from_down_short 0.75s ease-out 1;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;		
}

@keyframes move_from_down_short
{
0% {transform:translate3d(0,0.5rem,0);opacity: 0;}
100% {transform:translate3d(0,0rem,0);opacity: 1;}
}

@-webkit-keyframes move_from_down_short
{
0% {-webkit-transform:translate3d(0,0.5rem,0);opacity: 0;}
100% {-webkit-transform:translate3d(0,0rem,0);opacity: 1;}
}

.move_from_left_short
{
	animation: move_from_left_short 0.75s ease-out 1;
	-webkit-animation: move_from_left_short 0.75s ease-out 1;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;		
}

@keyframes move_from_left_short
{
0% {transform:translate3d(-0.5rem,0,0);opacity: 0;}
100% {transform:translate3d(0rem,0,0);opacity: 1;}
}

@-webkit-keyframes move_from_left_short
{
0% {-webkit-transform:translate3d(-0.5rem,0,0);opacity: 0;}
100% {-webkit-transform:translate3d(0rem,0,0);opacity: 1;}
}

.move_from_right_short
{
	animation: move_from_right_short 0.75s ease-out 1;
	-webkit-animation: move_from_right_short 0.75s ease-out 1;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;		
}

@keyframes move_from_right_short
{
0% {transform:translate3d(0.5rem,0,0);opacity: 0;}
100% {transform:translate3d(0rem,0,0);opacity: 1;}
}

@-webkit-keyframes move_from_right_short
{
0% {-webkit-transform:translate3d(0.5rem,0,0);opacity: 0;}
100% {-webkit-transform:translate3d(0rem,0,0);opacity: 1;}
}

.move_from_leftUp_short
{
	animation: move_from_leftUp_short 0.6s ease-out 1;
	-webkit-animation: move_from_leftUp_short 0.6s ease-out 1;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;		
}

@keyframes move_from_leftUp_short
{
0% {transform:translate3d(-0.6rem,-0.6rem,0);opacity: 0;}
100% {transform:translate3d(0rem,0rem,0);opacity: 1;}
}

@-webkit-keyframes move_from_leftUp_short
{
0% {-webkit-transform:translate3d(-0.6rem,-0.6rem,0);opacity: 0;}
100% {-webkit-transform:translate3d(0rem,0rem,0);opacity: 1;}
}

.move_from_leftDown_short
{
	animation: move_from_leftDown_short 0.6s ease-out 1;
	-webkit-animation: move_from_leftDown_short 0.6s ease-out 1;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;		
}

@keyframes move_from_leftDown_short
{
0% {transform:translate3d(-0.6rem,0.6rem,0);opacity: 0;}
100% {transform:translate3d(0rem,0rem,0);opacity: 1;}
}

@-webkit-keyframes move_from_leftDown_short
{
0% {-webkit-transform:translate3d(-0.6rem,0.6rem,0);opacity: 0;}
100% {-webkit-transform:translate3d(0rem,0rem,0);opacity: 1;}
}

.move_from_rightUp_short
{
	animation: move_from_rightUp_short 0.8s ease-out 1;
	-webkit-animation: move_from_rightUp_short 0.8s ease-out 1;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;		
}

@keyframes move_from_rightUp_short
{
0% {transform:translate3d(0.6rem,-0.6rem,0);opacity: 0;}
100% {transform:translate3d(0rem,0rem,0);opacity: 1;}
}

@-webkit-keyframes move_from_rightUp_short
{
0% {-webkit-transform:translate3d(0.6rem,-0.6rem,0);opacity: 0;}
100% {-webkit-transform:translate3d(0rem,0rem,0);opacity: 1;}
}

.move_from_rightDown_short
{
	animation: move_from_rightDown_short 0.6s ease-out 1;
	-webkit-animation: move_from_rightDown_short 0.6s ease-out 1;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;		
}

@keyframes move_from_rightDown_short
{
0% {transform:translate3d(0.6rem,0.6rem,0);opacity: 0;}
100% {transform:translate3d(0rem,0rem,0);opacity: 1;}
}

@-webkit-keyframes move_from_rightDown_short
{
0% {-webkit-transform:translate3d(0.6rem,0.6rem,0);opacity: 0;}
100% {-webkit-transform:translate3d(0rem,0rem,0);opacity: 1;}
}

/*--------------------------------- 3.SHORT MOVE TO ---------------------------------*/

.move_to_up_short
{
	animation: move_to_up_short 0.75s ease-out 1;
	-webkit-animation: move_to_up_short 0.75s ease-out 1;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;		
}

@keyframes move_to_up_short
{
0% {transform:translate3d(0,0rem,0);opacity: 1;}
100% {transform:translate3d(0,-0.5rem,0);opacity: 0;}
}

@-webkit-keyframes move_to_up_short
{
0% {-webkit-transform:translate3d(0,0rem,0);opacity: 1;}
100% {-webkit-transform:translate3d(0,-0.5rem,0);opacity: 0;}
}

.move_to_down_short
{
	animation: move_to_down_short 0.75s ease-out 1;
	-webkit-animation: move_to_down_short 0.75s ease-out 1;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;		
}

@keyframes move_to_down_short
{
0% {transform:translate3d(0,0rem,0);opacity: 1;}
100% {transform:translate3d(0,0.5rem,0);opacity: 0;}
}

@-webkit-keyframes move_to_down_short
{
0% {-webkit-transform:translate3d(0,0rem,0);opacity: 1;}
100% {-webkit-transform:translate3d(0,0.5rem,0);opacity: 0;}
}

.move_to_left_short
{
	animation: move_to_left_short 0.75s ease-out 1;
	-webkit-animation: move_to_left_short 0.75s ease-out 1;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;		
}

@keyframes move_to_left_short
{
0% {transform:translate3d(0rem,0,0);opacity: 1;}
100% {transform:translate3d(-0.5rem,0,0);opacity: 0;}
}

@-webkit-keyframes move_to_left_short
{
0% {-webkit-transform:translate3d(0rem,0,0);opacity: 1;}
100% {-webkit-transform:translate3d(-0.5rem,0,0);opacity: 0;}
}

.move_to_right_short
{
	animation: move_to_right_short 0.75s ease-out 1;
	-webkit-animation: move_to_right_short 0.75s ease-out 1;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;		
}

@keyframes move_to_right_short
{
0% {transform:translate3d(0rem,0,0);opacity: 1;}
100% {transform:translate3d(0.5rem,0,0);opacity: 0;}
}

@-webkit-keyframes move_to_right_short
{
0% {-webkit-transform:translate3d(0rem,0,0);opacity: 1;}
100% {-webkit-transform:translate3d(0.5rem,0,0);opacity: 0;}
}

.move_to_leftUp_short
{
	animation: move_to_leftUp_short 0.6s ease-out 1;
	-webkit-animation: move_to_leftUp_short 0.6s ease-out 1;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;		
}

@keyframes move_to_leftUp_short
{
0% {transform:translate3d(0rem,0rem,0);opacity: 1;}
100% {transform:translate3d(-0.6rem,-0.6rem,0);opacity: 0;}
}

@-webkit-keyframes move_to_leftUp_short
{
0% {-webkit-transform:translate3d(0rem,0rem,0);opacity: 1;}
100% {-webkit-transform:translate3d(-0.6rem,-0.6rem,0);opacity: 0;}
}

.move_to_leftDown_short
{
	animation: move_to_leftDown_short 0.6s ease-out 1;
	-webkit-animation: move_to_leftDown_short 0.6s ease-out 1;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;		
}

@keyframes move_to_leftDown_short
{
0% {transform:translate3d(0rem,0rem,0);opacity: 1;}
100% {transform:translate3d(-0.6rem,0.6rem,0);opacity: 0;}
}

@-webkit-keyframes move_to_leftDown_short
{
0% {-webkit-transform:translate3d(0rem,0rem,0);opacity: 1;}
100% {-webkit-transform:translate3d(-0.6rem,0.6rem,0);opacity: 0;}
}

.move_to_rightUp_short
{
	animation: move_to_rightUp_short 0.8s ease-out 1;
	-webkit-animation: move_to_rightUp_short 0.8s ease-out 1;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;		
}

@keyframes move_to_rightUp_short
{
0% {transform:translate3d(0rem,0rem,0);opacity: 1;}
100% {transform:translate3d(0.6rem,-0.6rem,0);opacity: 0;}
}

@-webkit-keyframes move_to_rightUp_short
{
0% {-webkit-transform:translate3d(0rem,0rem,0);opacity: 1;}
100% {-webkit-transform:translate3d(0.6rem,-0.6rem,0);opacity: 0;}
}

.move_to_rightDown_short
{
	animation: move_to_rightDown_short 0.6s ease-out 1;
	-webkit-animation: move_to_rightDown_short 0.6s ease-out 1;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;		
}

@keyframes move_to_rightDown_short
{
0% {transform:translate3d(0rem,0rem,0);opacity: 1;}
100% {transform:translate3d(0.6rem,0.6rem,0);opacity: 0;}
}

@-webkit-keyframes move_to_rightDown_short
{
0% {-webkit-transform:translate3d(0rem,0rem,0);opacity: 1;}
100% {-webkit-transform:translate3d(0.6rem,0.6rem,0);opacity: 0;}
}

/*--------------------------------------------- 4.LONG MOVE FROM ------------------------------------------*/
.move_from_up_long
{
	animation: move_from_up_long 1s ease-out 1;
	-webkit-animation: move_from_up_long 1s ease-out 1;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;		
}

@keyframes move_from_up_long
{
0% {transform:translate3d(0,-0.5rem,0);opacity: 0;}
100% {transform:translate3d(0,0rem,0);opacity: 1;}
}

@-webkit-keyframes move_from_up_long
{
0% {-webkit-transform:translate3d(0,-0.5rem,0);opacity: 0;}
100% {-webkit-transform:translate3d(0,0rem,0);opacity: 1;}
}

.move_from_down_long
{
	animation: move_from_down_long 1s ease-out 1;
	-webkit-animation: move_from_down_long 1s ease-out 1;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;		
}

@keyframes move_from_down_long
{
0% {transform:translate3d(0,0.5rem,0);opacity: 0;}
100% {transform:translate3d(0,0rem,0);opacity: 1;}
}

@-webkit-keyframes move_from_down_long
{
0% {-webkit-transform:translate3d(0,0.5rem,0);opacity: 0;}
100% {-webkit-transform:translate3d(0,0rem,0);opacity: 1;}
}

.move_from_left_long
{
	animation: move_from_left_long 1s ease-out 1;
	-webkit-animation: move_from_left_long 1s ease-out 1;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;		
}

@keyframes move_from_left_long
{
0% {transform:translate3d(-0.5rem,0,0);opacity: 0;}
100% {transform:translate3d(0rem,0,0);opacity: 1;}
}

@-webkit-keyframes move_from_left_long
{
0% {-webkit-transform:translate3d(-0.5rem,0,0);opacity: 0;}
100% {-webkit-transform:translate3d(0rem,0,0);opacity: 1;}
}

.move_from_right_long
{
	animation: move_from_right_long 1s ease-out 1;
	-webkit-animation: move_from_right_long 1s ease-out 1;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;		
}

@keyframes move_from_right_long
{
0% {transform:translate3d(0.5rem,0,0);opacity: 0;}
100% {transform:translate3d(0rem,0,0);opacity: 1;}
}

@-webkit-keyframes move_from_right_long
{
0% {-webkit-transform:translate3d(0.5rem,0,0);opacity: 0;}
100% {-webkit-transform:translate3d(0rem,0,0);opacity: 1;}
}

/*--------------------------------- 5.快速飞出 TO ---------------------------------*/
.move_to_left_quick
{
	animation: move_to_left_quick 0.65s ease-out 1;
	-webkit-animation: move_to_left_quick 0.65s ease-out 1;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;	
}

@keyframes move_to_left_quick
{
0% {transform:translate3d(0rem,0,0);}
30% {transform:translate3d(0.6rem,0,0);}
100% {transform:translate3d(-6.4rem,0,0);}
}

@-webkit-keyframes move_to_left_quick
{
0% {-webkit-transform:translate3d(0rem,0,0);}
30% {-webkit-transform:translate3d(0.6rem,0,0);}
100% {-webkit-transform:translate3d(-6.4rem,0,0);}
}

.move_to_right_quick
{
	animation: move_to_right_quick 0.65s ease-out 1;
	-webkit-animation: move_to_right_quick 0.65s ease-out 1;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;	
}

@keyframes move_to_right_quick
{
0% {transform:translate3d(0rem,0,0);}
30% {transform:translate3d(-0.6rem,0,0);}
100% {transform:translate3d(6.4rem,0,0);}
}

@-webkit-keyframes move_to_right_quick
{
0% {-webkit-transform:translate3d(0rem,0,0);}
30% {-webkit-transform:translate3d(-0.6rem,0,0);}
100% {-webkit-transform:translate3d(6.4rem,0,0);}
}

.move_to_down_quick
{
	animation: move_to_down_quick 0.65s ease-out 1;
	-webkit-animation: move_to_down_quick 0.65s ease-out 1;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;	
}

@keyframes move_to_down_quick
{
0% {transform:translate3d(0,0rem,0);}
30% {transform:translate3d(0,-0.6rem,0);}
100% {transform:translate3d(0,6.4rem,0);}
}

@-webkit-keyframes move_to_down_quick
{
0% {-webkit-transform:translate3d(0,0rem,0);}
30% {-webkit-transform:translate3d(0,-0.6rem,0);}
100% {-webkit-transform:translate3d(0,6.4rem,0);}
}

.move_to_up_quick
{
	animation: move_to_up_quick 0.65s ease-out 1;
	-webkit-animation: move_to_up_quick 0.65s ease-out 1;
	animation-fill-mode:forwards;			
	-webkit-animation-fill-mode:forwards;	
}

@keyframes move_to_up_quick
{
0% {transform:translate3d(0,0rem,0);}
30% {transform:translate3d(0,0.6rem,0);}
100% {transform:translate3d(0,-6.4rem,0);}
}

@-webkit-keyframes move_to_up_quick
{
0% {-webkit-transform:translate3d(0,0rem,0);}
30% {-webkit-transform:translate3d(0,0.6rem,0);}
100% {-webkit-transform:translate3d(0,-6.4rem,0);}
}

/*--------------------------------- 6.突入 FROM ---------------------------------*/

.move_from_left_TOTO
{
	animation: move_from_left_TOTO 0.75s ease-out 1;
	-webkit-animation: move_from_left_TOTO 0.75s ease-out 1;
}

@keyframes move_from_left_TOTO
{
0% {transform:translate3d(-6.4rem,0,0);opacity: 0;}
50% {transform:translate3d(0.4rem,0,0);opacity: 1;}
70% {transform:translate3d(-0.25rem,0,0);opacity: 1;}
88% {transform:translate3d(0.12rem,0,0);opacity: 1;}
100% {transform:translate3d(0rem,0,0);opacity: 1;}
}

@-webkit-keyframes move_from_left_TOTO
{
0% {-webkit-transform:translate3d(-6.4rem,0,0);opacity: 0;}
50% {-webkit-transform:translate3d(0.4rem,0,0);opacity: 1;}
70% {-webkit-transform:translate3d(-0.25rem,0,0);opacity: 1;}
88% {-webkit-transform:translate3d(0.12rem,0,0);opacity: 1;}
100% {-webkit-transform:translate3d(0rem,0,0);opacity: 1;}
}

.move_from_right_TOTO
{
	animation: move_from_right_TOTO 0.75s ease-out 1;
	-webkit-animation: move_from_right_TOTO 0.75s ease-out 1;
}

@keyframes move_from_right_TOTO
{
0% {transform:translate3d(6.4rem,0,0);opacity: 0;}
50% {transform:translate3d(-0.4rem,0,0);opacity: 1;}
70% {transform:translate3d(0.25rem,0,0);opacity: 1;}
88% {transform:translate3d(-0.12rem,0,0);opacity: 1;}
100% {transform:translate3d(0rem,0,0);opacity: 1;}
}

@-webkit-keyframes move_from_right_TOTO
{
0% {-webkit-transform:translate3d(6.4rem,0,0);opacity: 0;}
50% {-webkit-transform:translate3d(-0.4rem,0,0);opacity: 1;}
70% {-webkit-transform:translate3d(0.25rem,0,0);opacity: 1;}
88% {-webkit-transform:translate3d(-0.12rem,0,0);opacity: 1;}
100% {-webkit-transform:translate3d(0rem,0,0);opacity: 1;}
}

.move_from_down_TOTO
{
	animation: move_from_down_TOTO 0.75s ease-out 1;
	-webkit-animation: move_from_down_TOTO 0.75s ease-out 1;
}

@keyframes move_from_down_TOTO
{
0% {transform:translate3d(0,6.4rem,0);opacity: 0;}
50% {transform:translate3d(0,-0.40rem,0);opacity: 1;}
70% {transform:translate3d(0,0.25rem,0);opacity: 1;}
88% {transform:translate3d(0,-0.12rem,0);opacity: 1;}
100% {transform:translate3d(0,0rem,0);opacity: 1;}
}

@-webkit-keyframes move_from_down_TOTO
{
0% {-webkit-transform:translate3d(0,6.4rem,0);opacity: 0;}
50% {-webkit-transform:translate3d(0,-0.40rem,0);opacity: 1;}
70% {-webkit-transform:translate3d(0,0.25rem,0);opacity: 1;}
88% {-webkit-transform:translate3d(0,-0.12rem,0);opacity: 1;}
100% {-webkit-transform:translate3d(0,0rem,0);opacity: 1;}
}

.move_from_up_TOTO
{
	animation: move_from_up_TOTO 0.75s ease-out 1;
	-webkit-animation: move_from_up_TOTO 0.75s ease-out 1;
}

@keyframes move_from_up_TOTO
{
0% {transform:translate3d(0,-6.4rem,0);opacity: 0;}
50% {transform:translate3d(0,0.40rem,0);opacity: 1;}
70% {transform:translate3d(0,-0.25rem,0);opacity: 1;}
88% {transform:translate3d(0,0.12rem,0);opacity: 1;}
100% {transform:translate3d(0,0rem,0);opacity: 1;}
}

@-webkit-keyframes move_from_up_TOTO
{
0% {-webkit-transform:translate3d(0,-6.4rem,0);opacity: 0;}
50% {-webkit-transform:translate3d(0,0.40rem,0);opacity: 1;}
70% {-webkit-transform:translate3d(0,-0.25rem,0);opacity: 1;}
88% {-webkit-transform:translate3d(0,0.12rem,0);opacity: 1;}
100% {-webkit-transform:translate3d(0,0rem,0);opacity: 1;}
}

.move_from_rightUp_TOTO
{
	animation: move_from_rightUp_TOTO 0.6s ease-out 1;
	-webkit-animation: move_from_rightUp_TOTO 0.6s ease-out 1;
}

@keyframes move_from_rightUp_TOTO
{
0% {transform:translate3d(6.4rem,-0.5rem,0);}
50% {transform:translate3d(-0.3rem,0.05rem,0);}
70% {transform:translate3d(0.18rem,-0.03rem,0);}
88% {transform:translate3d(-0.1rem,0.01rem,0);}
100% {transform:translate3d(0rem,0rem,0);}
}

@-webkit-keyframes move_from_rightUp_TOTO
{
0% {-webkit-transform:translate3d(6.4rem,-0.5rem,0);}
50% {-webkit-transform:translate3d(-0.3rem,0.05rem,0);}
70% {-webkit-transform:translate3d(0.18rem,-0.03rem,0);}
88% {-webkit-transform:translate3d(-0.1rem,0.01rem,0);}
100% {-webkit-transform:translate3d(0rem,0rem,0);}
}

.move_from_leftDown_TOTO
{
	animation: move_from_leftDown_TOTO 0.6s ease-out 1;
	-webkit-animation: move_from_leftDown_TOTO 0.6s ease-out 1;
}

@keyframes move_from_leftDown_TOTO
{
0% {transform:translate3d(-6.4rem,0.5rem,0);}
50% {transform:translate3d(0.40rem,-0.05rem,0);}
70% {transform:translate3d(-0.28rem,0.03rem,0);}
88% {transform:translate3d(0.15rem,-0.01rem,0);}
100% {transform:translate3d(0rem,0rem,0);}
}

@-webkit-keyframes move_from_leftDown_TOTO
{
0% {-webkit-transform:translate3d(-6.4rem,0.5rem,0);}
50% {-webkit-transform:translate3d(0.40rem,-0.05rem,0);}
70% {-webkit-transform:translate3d(-0.28rem,0.03rem,0);}
88% {-webkit-transform:translate3d(0.15rem,-0.01rem,0);}
100% {-webkit-transform:translate3d(0rem,0rem,0);}
}